input,button{
    height: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
.gray{
    color: #aaa;
    font-size: 12px;
}
.down {
    width: 12px;
    height: 7px;
    background: url(../../images/xiala.jpg) no-repeat;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}

.btn-primary {
        background-color: #008EE5;
        font-size: 14px;
        color: #fff;
        padding:0 25px;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
}

.tabBar {
            border: none;
        }
.tabBar span{
    background-color: #fff;
}

.tabBar span.current {
    border-bottom: 3px solid #008EE5;
    background-color: #fff;
    color: #008EE5;
}
.tabCon {
    padding-top:20px;
}
.tabCon .tit{
    padding-top: 10px;
}

/* 删除弹出框 */
.modal-open .modal {
    overflow-y: hidden;
}        
.modal-dialog {
    width: 300px;
    margin: 300px auto;
}
#modal-demo .modal-header {
    border-bottom: 0;
}
.modal-header .close {
    right: 10px;
    top: 0px;
}
.modal-body{
    text-align: center;
}
.modal-footer {
    text-align: left;
    background-color: #fff;
    border-top: 0;
    padding-left: 66px;
}
.modal-footer .btn{
   width: 80px;
}
.modal-footer .btn-primary{
    border-radius: 4px;
} 

/* 页码部分 */
.footer ul{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -222px;
}
.footer ul li{
    height: 24px;
    padding: 0 8px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.footer ul li input{
    height: 24px;
    border: 0;
    width: 15px;
}
.current{
    background-color: #008EE5;
    color: #fff;
}
.footer ul li.no-border{
    border: 0;
}

/* 筛选 */
.search{
    font-size: 12px;
}
.search span{
    margin-right: 5px;
}
.search input{
    width: 250px;
}
.price i{
    width:18px;
    height:32px;
    background:rgba(204,204,204,1);
    border-radius:4px 0px 0px 4px;
    display: inline-block;
    vertical-align: middle;
}
.price input{
    width:50px;
    border:1px solid rgba(204,204,204,1);
    border-radius:0px 4px 4px 0px;
    text-align: center;
}
.price span{
    margin-left: 5px;
}

.price,.goods-items,.screen{
    margin: 0 10px;
}
.goods-items{
    position: relative;
}
.items-content{
    position: absolute;
    width: 250px;
    height: 344px;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 99;
}

/* 表格 */
table img {
    width: 100px;
    height: 50px;
}
.table tbody tr{
    height: 100px;
    overflow: hidden;
}
.table .text-c th{
    background-color: #F8F8F8;
}
td{
    position: relative;
    height: 100px;
    overflow: hidden;    
}
td .dot{
    position: absolute;
    width: 18px;
    height: 54px;
    left: 10px;
    top: 50%;
    margin-top: -27px;
    background: url("../../images/dot.jpg") no-repeat;
}
.stock {
    position: relative;
}
.stock i{
    width:11px;
    height:15px;
    background:url("../../images/stock.jpg");
    position: absolute;
    top: 10px;
    left: 82px;
}

.product-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
}

.check-box input{
    right: 0;
    vertical-align: middle;
}

